<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>velog clone coding - CSS BEM</title>
  </head>
  <body>
    <header class="header">
      <img class="header__logo" alt="velog logo" />velog
      <button class="header__search">search</button>
      <button class="header__login-button">로그인</button>
    </header>
    <nav class="nav">
      <div class="category">
        <div class="category__tab">
          <span>트랜딩</span>
        </div>
        <div class="category__tab">
          <span>최신</span>
        </div>
        <input type="week" name="" id="" />
        <div class="category__link"></div>
      </div>
    </nav>
    <div id="main">
      <div class="card">
        <div class="card__thumbnail">
          <img src="" alt="" />
        </div>
        <div class="card__content"></div>
        <div class="card__user-info"></div>
      </div>
    </div>
  </body>
</html>
