.j-center {
  display: flex;
  justify-content: center;
}

.hp_txt-white {
  color: #fff !important;
}

.hp_txt-bold {
  font-weight: bold;
}

.hp_txt-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.hp_txt-ellipsis-2lines {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@supports (-webkit-line-clamp: 2) {
  .hp_txt-ellipsis-2lines {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.hp_mb-0 {
  margin-bottom: 0px !important;
}

.hp_mt-0 {
  margin-top: 0px !important;
}

.hp_ml-0 {
  margin-left: 0px !important;
}

.hp_mr-0 {
  margin-right: 0px !important;
}

.hp_mtb-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.hp_mlr-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.hp_m-0 {
  margin: 0px !important;
}

.hp_mb-5 {
  margin-bottom: 5px !important;
}

.hp_mt-5 {
  margin-top: 5px !important;
}

.hp_ml-5 {
  margin-left: 5px !important;
}

.hp_mr-5 {
  margin-right: 5px !important;
}

.hp_mtb-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.hp_mlr-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.hp_m-10 {
  margin: 10px !important;
}

.hp_mb-10 {
  margin-bottom: 10px !important;
}

.hp_mt-10 {
  margin-top: 10px !important;
}

.hp_ml-10 {
  margin-left: 10px !important;
}

.hp_mr-10 {
  margin-right: 10px !important;
}

.hp_mtb-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.hp_mlr-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.hp_m-20 {
  margin: 20px !important;
}

.hp_mb-15 {
  margin-bottom: 15px !important;
}

.hp_mt-15 {
  margin-top: 15px !important;
}

.hp_ml-15 {
  margin-left: 15px !important;
}

.hp_mr-15 {
  margin-right: 15px !important;
}

.hp_mtb-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.hp_mlr-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.hp_m-30 {
  margin: 30px !important;
}

.hp_mb-20 {
  margin-bottom: 20px !important;
}

.hp_mt-20 {
  margin-top: 20px !important;
}

.hp_ml-20 {
  margin-left: 20px !important;
}

.hp_mr-20 {
  margin-right: 20px !important;
}

.hp_mtb-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.hp_mlr-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.hp_m-40 {
  margin: 40px !important;
}

.hp_mb-25 {
  margin-bottom: 25px !important;
}

.hp_mt-25 {
  margin-top: 25px !important;
}

.hp_ml-25 {
  margin-left: 25px !important;
}

.hp_mr-25 {
  margin-right: 25px !important;
}

.hp_mtb-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.hp_mlr-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}

.hp_m-50 {
  margin: 50px !important;
}

.hp_mb-30 {
  margin-bottom: 30px !important;
}

.hp_mt-30 {
  margin-top: 30px !important;
}

.hp_ml-30 {
  margin-left: 30px !important;
}

.hp_mr-30 {
  margin-right: 30px !important;
}

.hp_mtb-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.hp_mlr-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

.hp_m-60 {
  margin: 60px !important;
}

.hp_mb-35 {
  margin-bottom: 35px !important;
}

.hp_mt-35 {
  margin-top: 35px !important;
}

.hp_ml-35 {
  margin-left: 35px !important;
}

.hp_mr-35 {
  margin-right: 35px !important;
}

.hp_mtb-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.hp_mlr-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}

.hp_m-70 {
  margin: 70px !important;
}

.hp_mb-40 {
  margin-bottom: 40px !important;
}

.hp_mt-40 {
  margin-top: 40px !important;
}

.hp_ml-40 {
  margin-left: 40px !important;
}

.hp_mr-40 {
  margin-right: 40px !important;
}

.hp_mtb-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.hp_mlr-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

.hp_m-80 {
  margin: 80px !important;
}

.hp_mb-45 {
  margin-bottom: 45px !important;
}

.hp_mt-45 {
  margin-top: 45px !important;
}

.hp_ml-45 {
  margin-left: 45px !important;
}

.hp_mr-45 {
  margin-right: 45px !important;
}

.hp_mtb-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.hp_mlr-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}

.hp_m-90 {
  margin: 90px !important;
}

.hp_mb-50 {
  margin-bottom: 50px !important;
}

.hp_mt-50 {
  margin-top: 50px !important;
}

.hp_ml-50 {
  margin-left: 50px !important;
}

.hp_mr-50 {
  margin-right: 50px !important;
}

.hp_mtb-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.hp_mlr-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

.hp_m-100 {
  margin: 100px !important;
}

.hp_pb-0 {
  padding-bottom: 0px !important;
}

.hp_pt-0 {
  padding-top: 0px !important;
}

.hp_pl-0 {
  padding-left: 0px !important;
}

.hp_pr-0 {
  padding-right: 0px !important;
}

.hp_ptb-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.hp_plr-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.hp_p-0 {
  padding: 0px !important;
}

.hp_pb-5 {
  padding-bottom: 5px !important;
}

.hp_pt-5 {
  padding-top: 5px !important;
}

.hp_pl-5 {
  padding-left: 5px !important;
}

.hp_pr-5 {
  padding-right: 5px !important;
}

.hp_ptb-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.hp_plr-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.hp_p-5 {
  padding: 5px !important;
}

.hp_pb-10 {
  padding-bottom: 10px !important;
}

.hp_pt-10 {
  padding-top: 10px !important;
}

.hp_pl-10 {
  padding-left: 10px !important;
}

.hp_pr-10 {
  padding-right: 10px !important;
}

.hp_ptb-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.hp_plr-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.hp_p-10 {
  padding: 10px !important;
}

.hp_pb-15 {
  padding-bottom: 15px !important;
}

.hp_pt-15 {
  padding-top: 15px !important;
}

.hp_pl-15 {
  padding-left: 15px !important;
}

.hp_pr-15 {
  padding-right: 15px !important;
}

.hp_ptb-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.hp_plr-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.hp_p-15 {
  padding: 15px !important;
}

.hp_pb-20 {
  padding-bottom: 20px !important;
}

.hp_pt-20 {
  padding-top: 20px !important;
}

.hp_pl-20 {
  padding-left: 20px !important;
}

.hp_pr-20 {
  padding-right: 20px !important;
}

.hp_ptb-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.hp_plr-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.hp_p-20 {
  padding: 20px !important;
}

.hp_pb-25 {
  padding-bottom: 25px !important;
}

.hp_pt-25 {
  padding-top: 25px !important;
}

.hp_pl-25 {
  padding-left: 25px !important;
}

.hp_pr-25 {
  padding-right: 25px !important;
}

.hp_ptb-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.hp_plr-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.hp_p-25 {
  padding: 25px !important;
}

.hp_pb-30 {
  padding-bottom: 30px !important;
}

.hp_pt-30 {
  padding-top: 30px !important;
}

.hp_pl-30 {
  padding-left: 30px !important;
}

.hp_pr-30 {
  padding-right: 30px !important;
}

.hp_ptb-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.hp_plr-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.hp_p-30 {
  padding: 30px !important;
}

.hp_pb-35 {
  padding-bottom: 35px !important;
}

.hp_pt-35 {
  padding-top: 35px !important;
}

.hp_pl-35 {
  padding-left: 35px !important;
}

.hp_pr-35 {
  padding-right: 35px !important;
}

.hp_ptb-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.hp_plr-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.hp_p-35 {
  padding: 35px !important;
}

.hp_pb-40 {
  padding-bottom: 40px !important;
}

.hp_pt-40 {
  padding-top: 40px !important;
}

.hp_pl-40 {
  padding-left: 40px !important;
}

.hp_pr-40 {
  padding-right: 40px !important;
}

.hp_ptb-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.hp_plr-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.hp_p-40 {
  padding: 40px !important;
}

.hp_pb-45 {
  padding-bottom: 45px !important;
}

.hp_pt-45 {
  padding-top: 45px !important;
}

.hp_pl-45 {
  padding-left: 45px !important;
}

.hp_pr-45 {
  padding-right: 45px !important;
}

.hp_ptb-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.hp_plr-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}

.hp_p-45 {
  padding: 45px !important;
}

.hp_pb-50 {
  padding-bottom: 50px !important;
}

.hp_pt-50 {
  padding-top: 50px !important;
}

.hp_pl-50 {
  padding-left: 50px !important;
}

.hp_pr-50 {
  padding-right: 50px !important;
}

.hp_ptb-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.hp_plr-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

.hp_p-50 {
  padding: 50px !important;
}

.hp_g-0 {
  gap: 0px !important;
}

.hp_g-5 {
  gap: 5px !important;
}

.hp_g-10 {
  gap: 10px !important;
}

.hp_g-15 {
  gap: 15px !important;
}

.hp_g-20 {
  gap: 20px !important;
}

.hp_g-25 {
  gap: 25px !important;
}

.hp_g-30 {
  gap: 30px !important;
}

.hp_g-35 {
  gap: 35px !important;
}

.hp_g-40 {
  gap: 40px !important;
}

.hp_g-45 {
  gap: 45px !important;
}

.hp_g-50 {
  gap: 50px !important;
}/*# sourceMappingURL=utility.css.map */