<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="ui.css">
    <link rel="stylesheet" href="ui-page.css">
</head>
<body>
    <div class="page">
        <!-- header -->
        <header class="header">
            <h1 class="website-title">1분코딩</h1>
            <form action="" class="search-form">
                <input type="search">
                <input type="submit" value="찾기">
            </form>

        </header>
        <!-- menu -->
        <ul class="menu">
            <li class="menu-item">
                <a href="" class="menu-link">Home</a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">About</a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">Product</a>
            </li>
            <li class="menu-item">
                <a href="" class="menu-link">Contact</a>
            </li>
        </ul>
        <!-- primary -->
        <section class="primary">
            <ul class="card-list">
                <li class="card-item">
                    <figure class="card-image" style="background-image: url(images/ilbuni.png);">
                        <img src="images/ilbuni.png" alt="일분이">
                    </figure>
                    <div class="card-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image" style="background-image: url(images/ilbuni.png);">
                        <img src="images/ilbuni.png" alt="일분이">
                    </figure>
                    <div class="card-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image" style="background-image: url(images/ilbuni.png);">
                        <img src="images/ilbuni.png" alt="일분이">
                    </figure>
                    <div class="card-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image" style="background-image: url(images/ilbuni.png);">
                        <img src="images/ilbuni.png" alt="일분이">
                    </figure>
                    <div class="card-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image" style="background-image: url(images/ilbuni.png);">
                        <img src="images/ilbuni.png" alt="일분이">
                    </figure>
                    <div class="card-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image" style="background-image: url(images/ilbuni.png);">
                        <img src="images/ilbuni.png" alt="일분이">
                    </figure>
                    <div class="card-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image" style="background-image: url(images/ilbuni.png);">
                        <img src="images/ilbuni.png" alt="일분이">
                    </figure>
                    <div class="card-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image" style="background-image: url(images/ilbuni.png);">
                        <img src="images/ilbuni.png" alt="일분이">
                    </figure>
                    <div class="card-desc">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, impedit. Lorem ipsum dolor sit amet.
                    </div>
                </li>
            </ul>
        </section>
        <!-- secondary-a -->
        <aside class="secondary secondary-a">
            <ul class="info-list">
                <li class="info-list-item">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex quasi commodi ipsam minima omnis.
                </li>
                <li class="info-list-item">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum enim ut ex commodi, harum repellat aspernatur officiis at tempore in.
                </li>
                <li class="info-list-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam qui amet, enim mollitia beatae rerum dolore at nemo, quaerat optio quasi assumenda ducimus sunt laborum!</li>
            </ul>
            <ul class="user-list firend-list">
                <li class="user-item firend-item">
                    <figure class="user-photo" style="background-image: url(images/ilbuni.png);"></figure>
                    <p class="user-name">
                        일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 
                    </p>
                </li>
                <li class="user-item firend-item">
                    <figure class="user-photo" style="background-image: url(images/ilbuni.png);"></figure>
                    <p class="user-name">
                        일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 
                    </p>
                </li>
                <li class="user-item firend-item">
                    <figure class="user-photo" style="background-image: url(images/ilbuni.png);"></figure>
                    <p class="user-name">
                        일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 일분이 
                    </p>
                </li>
            </ul>
        </aside>
        <!-- secondary-b -->
        <aside class="secondary secondary-b">
            <ul class="user-list message-list">
                <li class="user-item message-item">
                    <figure class="user-photo" style="background-image: url(images/ilbuni.png);"></figure>
                    <p class="message-content">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid autem laborum adipisci natus tenetur ratione dignissimos eos dolore suscipit corrupti, id facilis quis itaque consequatur? Neque mollitia est provident earum.
                    </p>
                </li>
                <li class="user-item message-item">
                    <figure class="user-photo" style="background-image: url(images/ilbuni.png);"></figure>
                    <p class="message-content">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid autem laborum adipisci natus tenetur ratione dignissimos eos dolore suscipit corrupti, id facilis quis itaque consequatur? Neque mollitia est provident earum.
                    </p>
                </li>
                <li class="user-item message-item">
                    <figure class="user-photo" style="background-image: url(images/ilbuni.png);"></figure>
                    <p class="message-content">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid autem laborum adipisci natus tenetur ratione dignissimos eos dolore suscipit corrupti, id facilis quis itaque consequatur? Neque mollitia est provident earum.
                    </p>
                </li>
            </ul>
        </aside>
        <!-- footer -->
        <footer class="footer">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, modi.
        </footer>
    </div>

    <input type="checkbox" name="" id="modal-switch">
    <label for="modal-switch">
        <span>modal 열고 닫기</span>
    </label>
    
    <div class="modal">
        <div class="dialog">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste incidunt voluptatibus at placeat ad eos vero dignissimos eaque fuga, magnam earum ducimus accusantium molestiae consequatur possimus sunt officiis repellat voluptate sequi! In laborum rem laboriosam corporis soluta distinctio veniam consequatur aliquam quos? Sint ducimus natus amet. Repellendus natus ad saepe.
        </div>
    </div>
</body>
</html>