/* @GLOBALS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  overflow-x: hidden;
}

/* font */
@font-face {
  font-family: 'AppleSDGothicNeoB';
  src: url('../fonts/AppleSDGothicNeoB.ttf');
}
body{
  font-family: 'AppleSDGothicNeoB';
}

/* prev slide css
#slider-wrap {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

#slider-wrap ul#slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#slider-wrap ul#slider li {
  float: left;
  position: relative;
  width: 600px;
  height: 400px;
}

#slider-wrap ul#slider li>div {
  position: absolute;
  top: 20px;
  left: 35px;
}

#slider-wrap ul#slider li>div h3 {
  font-size: 36px;
  text-transform: uppercase;
}

#slider-wrap ul#slider li>div span {
  font-size: 21px;
}

#slider-wrap ul#slider li img {
  display: block;
  width: 100%;
  height: 100%;
}

/* @btns */
.slider-btns {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 50%;
  margin-top: -25px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.slider-btns:hover {
  background: rgba(0, 0, 0, 0.3);
}

#next {
  right: -50px;
  border-radius: 7px 0px 0px 7px;
  color: #eee;
}

#previous {
  left: -50px;
  border-radius: 0px 7px 7px 7px;
  color: #eee;
}

#slider-wrap.active #next {
  right: 0px;
}

#slider-wrap.active #previous {
  left: 0px;
}

/* @bar */
#slider-pagination-wrap {
  min-width: 20px;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  position: relative;
  text-align: center;
}

#slider-pagination-wrap ul {
  width: 100%;
}

#slider-pagination-wrap ul li {
  margin: 0 4px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  position: relative;
  top: 0;
}

#slider-pagination-wrap ul li.active {
  width: 12px;
  height: 12px;
  top: 3px;
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/* @ANIMATION */
#slider-wrap ul,
#slider-pagination-wrap ul li {
  -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}
*/

/* @flexxbox */
#wrapper{
  display: flex;
  flex-flow: row wrap;
}
body{
  width: 100%;
  /* margin: 10px auto; */
}
a{
  text-decoration: none;
  color: rgba(121, 137, 136, 1);;
}
header {
  height: 100px;
  color: black;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
#main-banner{
  width: 100%;
}
footer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color:rgb(0, 181, 64);
  color: white;
  height: 200px;
  font-size: 1.3rem;
  text-align: center;
}

#main-menu{
  display: flex;
};

#site-map{
  /* align-self: flex-start; */
  display: flex;
  justify-content: center;
}
#main-menu,
#sub-menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main-menu .main-menues > li{
  float: left;
  background: white;
  flex: 1 0 auto;
}
#main-menu .main-menues > li > a{
  font-size: 1.3rem;
  font-weight: bold;
  color:rgba(63, 62, 70, 1);
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 12px 36px;
  /* text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); */
  text-align: center;
  font-weight: lighter;
}
#menu-wrapper{
  width: 100%;
}
.sub-menu{
  position:absolute;
  background: rgba(67, 68, 136, 0.418);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  display: flex;
}
.sub-menu > li > a{
  color: rgba(121, 137, 136, 1);
  text-decoration: none;
  
}
#main-menu .main-menues{
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}
#main-menu .main-menues > li:hover
.sub-menu{
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 101;
  display: flex;
}
.sub-menu > .sub-menues > li > a:hover{
  color:  rgb(0, 181, 64);
  transition: 1s;
}
.sub-text{
  /*background-image: url("http://placehold.it/300x200");*/
  background: rgba(88, 95, 139, 0.63);
  border-radius: 0px 0px 0px 20px;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
  height: 200px;
  width: 170px;
}
.sub-menues{
  padding: 35px;
  background-color: white;
  width: 140px;
}
.sub-menues > li{
  padding-top: 7px;
  font-size: 1rem;
  font-weight: bold;
}
.sub-menues a{
  padding-top: 7px; 
  font-size: 1rem;
  font-weight: normal;
}
.sub-menu{
  border-radius: 0px 0px 0px 20px;
  box-shadow: 1px 1px 10px 3px gray;
}
#site-map{
  display: flex;
  align-items: center;
}
#site-map a{
  color: gray;
  padding: 0 7px;
  float: right;
  /* text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2); */
  font-size: 1rem;
}
#site-map a{
  text-decoration: none;
  color: gray;
}

/* @responsive menu bar */
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content{
    padding: 0 20px;
}
.content img{
    width:  100%;
    max-width: 700px;
    margin: 20px 0;
}

@media screen and (max-width:1024px){
  .show-menu-btn, .hide-menu-btn{
      display: block;
  }
  #main-menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(0, 181, 64);
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
      z-index: 102;
  }
  #main-menu a{
      display: block;
      padding: 20px;
  }
  .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
  }
  #chk:checked ~ #main-menu{
      right: 0;
  }
  header{
      height: 100px;
      color: black;
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  #main-menu{
    display: flex;
    flex-flow: column;
  }
  .sub-text{
    visibility: hidden;
    width: 0;
    padding: 0;
  }
  footer{
    font-size: 1rem;
  }
  #menu-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
}
  section{
  width: 100%;
  }

/* @iSignal */
article .article-signal{
  height: 500px;
  width: 100%;
  height: fit-content;
  padding-bottom: 100px;
}

article .article-signal:nth-child(2n+1){
  background: rgb(242, 243, 247);
}
article .article-signal:first-child{
  /* background-image: url("http://placehold.it/300x200");
  background-repeat: no-repeat;
  background-size: 100% 400px; */
  display: flex;
  justify-content: flex-end;
  
}
/* Video */
.article-signal .signal-video-wrap video{
  width: 100%;
  flex: 1 0 auto;
  height: auto;
}
.signal-video-wrap{
  width: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.signal-video-wrap button{
  height: fit-content;
  position: relative;
  bottom: 100px;
  border-radius: 20px;
  padding: 5px 15px;
  color: rgb(11, 6, 86);
  cursor: pointer;
}
/* intro */
.article-signal-intro{
  display: flex;
  flex-flow: row wrap;
  width: 30%;
  height: fit-content;
  padding: 5%;
  /* margin: 50px;
  margin-right: 100px; */
  margin-top: 10%;
  background-color: rgb(11, 6, 86);
  color: #fff;
}
@media screen and (max-width: 1024px){
  .article-signal-intro{
      width: 100%;
      padding: 10px;
      margin: 30px;
  }
  article .article-signal:first-child{
    flex-flow: wrap;
  }
  .article-signal .signal-video-wrap video{
    width: 100%;
  }
  .signal-video-wrap{
    width: 100%;
  }
  .signal-video-wrap button{
    bottom: 50px;
  }
}
article .article-signal-intro a{
  margin-top: 10px;
  border: 7px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  color:  rgb(11, 6, 86);
  cursor: pointer;
  height: 20px;
}
article .article-signal:nth-child(n+2){
  display: flex;
  flex-flow: column;
  align-items: center;
}
article .article-signal-circle{
  background-color: rgb(136, 214, 66);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: relative;
  bottom: 5px;
}
article .article-signal-line{
  background-color: rgb(136, 214, 66);
  width: 1px;
  height: 150px;
  position: relative;
  bottom: 5px;
}
article .article-signal h2{
  color: gray;
  text-align: center;
  margin: 30px 0;
  font-weight: lighter;
    font-size: -webkit-xxx-large;
}
.article-signal img{
  width: 70px;
  height: 70px;
}
article .article-signal h3{
  color: rgb(136, 214, 66);
  margin: 20px 0;
  font-size: xx-large;
  font-weight: lighter;
}
article .article-signal p{
  color: gray;
}
article .article-signal-intro h3{
  color: #fff;
}
article .article-signal .article-signal-p{
  padding: 0 20%;
  text-align: center;
}
@media (max-width:1024px){
  article .article-signal .article-signal-p{
    padding: 0 7%;
  }
}

article .article-signal-intro p{
  color: white;
}

/* @Our team */
article .article-ourteam{
  height: 500px;
  width: 100%;
  height: fit-content;
  padding: 50px 0px;
}

article .article-ourteam:nth-child(2n+1){
  background: #e5eeee;
}
article .article-ourteam:first-child{
  background-image: url(../src/27.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-end;
}
article .article-ourteam-intro{
  width: 400px;
  margin: 10%;
}
article .article-ourteam-intro h1{
  color:  rgb(0, 181, 64);
}
article .article-ourteam h2{
  padding-top: 20px;
  color:  rgb(136, 214, 66);
}
article .article-ourteam-imgwrap{
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  justify-content: center;
}
article .article-ourteam:nth-child(2){
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
article .article-ourteam-imgwrap img{
  /* width: 25%; */
  width: 600px;
  height: 400px;
}
@media screen and (max-width:1024px){
  article .article-ourteam-imgwrap img{
    /* width: 25%; */
    width: 400px;
    height: 300px;
  }
}
article .article-ourteam h2{
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}
article .article-ourteam-outro{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
article .article-ourteam-outro .cont{
  width: 300px;
  background: #fff;
  margin: 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 3px 5px;
  padding: 40px 20px;
  border-radius: 20px;
}
article .article-ourteam-outro .cont h1{
  text-align: center;
  color: rgb(136, 214, 66);

}
article .article-ourteam-outro .cont ul{
  margin-top: 20px;
}
article .article-ourteam-outro div ul li{
  list-style: disc;
  margin-left: 50px;
}
article .article-ourteam-outro div ul li::marker{
  color:  rgb(136, 214, 66);
}

/* @partnership */
article .article-partnership-intro{
  display: flex;
  justify-content: flex-end;
  background-image: url(../src/26.png);
  background-size: 90% 80%;
  background-repeat: no-repeat;
  margin: 5% 0;
}
article .article-partnership:nth-child(2){
  background-image: url(../src/21.png);
}
article .article-partnership-intro div {
  width: 80%;
  background: rgb(96, 96, 96);
  color: white;
  padding: 50px 70px;
  justify-self: flex-end;
  margin-top: 20%;
  position: relative;
  top: 0px;
}
article .article-partnership-outro a{
  align-self: flex-end;
  border-radius: 20px;
  background: white;
  padding: 5px 15px;
  color: rgb(11, 6, 86);
}
article .article-partnership-intro a{
  /* margin-top: 10px;
  border: 7px solid #fff;
  background-color: #fff;
  border-radius: 20px;
  color:  rgb(11, 7, 84);
  cursor: pointer;
  font-weight: bold;
  */
  margin-top: 20px;
  display: inline-block; 
  border-radius: 20px;
  border: 1px solid rgb(11, 6, 86);
  background: white;
  color: rgb(11, 6, 86);
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: rgba(0.5, 0.5, 0.5, 0.2) 5px 5px 10px;
}
article .article-partnership .article-partnership-intro p{
  padding: 20px 0;
}
article .article-partnership-outro{
  display: flex;
  flex-flow: column;
  padding: 7%;
  background: rgb(11, 6, 86);
}
article .article-partnership h2{
  color:  rgb(13, 6, 86);
  text-align: left;
  background-color: rgb(225, 225, 225);
  padding: 5%;
}
article .article-partnership-expwrap{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
article .article-partnership-expwrap div{
  width: 300px;
  margin: 20px 20px;
}
article .article-partnership-expwrap div h1{
  color: rgb(0, 181, 64);
  border-left: 3px solid rgb(181, 181, 181);
  padding: 0px 20px;
  padding-bottom: 20px;
}
article .article-partnership-expwrap div p{
  color: rgb(121, 137, 137);
}

/* @Cardea SOLO */
/* slider */
.slick-slide, .slick-slide > div{
  background-color: #fff;
  height: fit-content;
  border-radius: 20px;
  }
  .slick-center, .slick-center > div{
  background-color: #fff;
  border-radius: 20px;
  
  }
  
  .slider .slick-list {
  margin:0 -20px;
  padding:-10px;
  }

  .slick-slide {
  margin:0 20px;
  margin-top: 20px;
  padding: 20px 20px;
  }
  .slider .slick-center{
  padding: 10px;
  }
  .slick-center{
  margin-top: 0px;
  border-bottom: 4px solid rgb(0, 181, 64);
  }
  #slider-div2 .slick-current > div:first-child{
      padding: 40px 20px;
  }
  /* .slick-slide > div:first-child{
    padding: 20px;
  } */
  .slider-wrap{
      background:rgb(225, 225, 225);
      padding: 50px 10%;
  }

  /* article */
  article .article-cardea-intro, article .article-cardea-middle{
      height: fit-content;
      padding-bottom: 100px;
  }
  
  article .article-cardea-intro{
      display: flex;
      flex-flow: column;
      background: rgb(243, 244, 248);
      background-image: url(../src/29.png);
      background-repeat: no-repeat;
      background-size: 100% 300px;
      
  }
  .article-cardea-intro .head-text{
      width: 450px;
      color: white;
      margin: 30px;
      margin-left: 10%;
  }
  .article-cardea-intro .head-text h1{
      font-size: 30px;
  }
  .article-cardea-intro .side-text{
      position: relative;
      top: 65px;
      display: flex;
      flex-flow: column;
      align-self: flex-end;
      background: rgb(0, 181, 64);
      color: white;
      padding: 30px;
      border-radius: 0 0 0 30px;
      width: 50%;
      align-items: center;
  }
  .article-cardea-intro .side-text h2:first-child{
      /* align-self: flex-start; */
      margin-right: 20%;
  }
  .article-cardea-intro .side-text h2:nth-child(2){
      /* align-self: flex-end; */
      margin-left: 20%;
  }
  .article-cardea-intro .slick-slide p{
    color: rgb(118, 137, 135);
    height: 300px;
  }
  .article-cardea-intro .main-text{
      width: 80%;
      align-self: center;
      background: #fff;
      padding: 4%;
      box-shadow: rgba(0, 0, 0, 0.3) 1px 3px 30px;
  }
  .article-cardea-intro .main-text h3{
      color: rgb(0, 181, 64);
      margin: 30px 0;
      margin-top: 50px;
  }
  .article-cardea-intro .main-text p{
      color: rgb(121, 138, 138);
  }
  .article-cardea-intro .slider-box{
      margin-top: 100px;
  }
  .article-cardea-middle{
      display: flex;
      flex-flow: column;
  }
  .article-cardea-middle h2:first-child{
      color: rgb(66, 200, 115);
      text-align: center;
      margin-bottom: 20px;
  }
  .article-cardea-middle .video-box video{
    width: 300px;
    height: 181px;
    background: #313131;
}
  .article-cardea-middle .video-box{
      display: flex;
      flex-flow: row wrap;
      align-self: flex-end;
      background: rgb(61, 195, 106);
      background-image: url(../src/30.png);
      background-size: 100% 100%;
      width: 80%;
      padding: 50px;
  }
  .article-cardea-middle video{
      margin: 0 70px;
  }
  .article-cardea-middle .video-exp{
      width: 300px;
      color: white;
  }
  .article-cardea-middle .video-box a{
      display: inline-block;
      color: rgb(0, 181, 64);
      border-radius: 30px;
      padding: 8px 15px;
      background-color: white;
      margin-top: 30px;
      font-size: 1.1rem;
  }
  .article-cardea-middle .video-exp h3{
    font-size: 1.5rem;
  }
  .article-cardea-middle .video-exp h3, .article-cardea-middle .video-exp p, .article-cardea-middle .video-exp a{
      margin: 10px 0;
  }
  .article-cardea-middle h2{
      color: gray;
      padding: 10px;
      margin: 20px 0;
  }
  .article-cardea-middle .img-text-box{
      display: flex;
      flex-flow: row wrap;
  }
  .article-cardea-middle .img-box{
      display: flex;
      flex-flow: column;
      width: 50%;
      justify-content: center;
  }
  .img-box #big-img{
      width: 100%;
  }
  .img-box .small-img-box{
      display: flex;
      justify-content: center;
      flex-flow: row wrap;
      margin: 2px;
      align-self: flex-end;
  }

  .img-box .small-img-box .small-img{
      margin: 3px;
      border-radius: 20px;
      width: 150px;
      height: 150px;
  }
  .article-cardea-middle .text-box{
      width: 40%;
      padding: 0 5%;
  }
  .article-cardea-outro{
      display: flex;
      flex-flow: column;
  }
  .article-cardea-outro .side-text{
      width: 50%;
  }
  .article-cardea-outro .side-text h2{
    text-align: center;
    padding-right: 20%;
  }
  .article-cardea-outro{
      display: flex;
      flex-flow: column;
      background-image: url(../src/Cardea-solo-outer.png);
      background-size: 100% 100%;
  }
  .article-cardea-outro .main-box{
    height: 500px;
  }
  
  /* .article-cardea-outro .main-box div:first-child{
      transform: translateY(100px);
      width: 25%;
  } */
  .article-cardea-outro .main-box div:nth-child(2){
      transform: translateY(50px);
      width: 25%;
  }
  .article-cardea-outro .main-box div:nth-child(3){
      transform: translateY(100px);
      width: 25%;
  }
  .article-cardea-outro .main-box div:nth-child(4){
      transform: translateY(50px);
      width: 25%;
  }
  .article-cardea-middle .img-text-box .text-box h3{
      margin-top: 30px;
      color: rgb(10, 5, 85);
      font-size: 1.5rem;
  }
  .article-cardea-middle .img-text-box .text-box h4{
      margin-top: 30px;
      color: rgb(10, 5, 85);
      font-size: 1.5rem;
  }
  .article-cardea-middle .img-text-box .text-box ul{
      padding-left: 20px;
  }
  .article-cardea-middle .img-text-box .text-box ul li::marker{
    color: rgb(13, 6, 86);
  }
  .article-cardea-middle .img-text-box .text-box ul li, .article-cardea-middle .img-text-box .text-box p{
      list-style: disc;
      color: rgb(121, 137, 137);
  }
  .article-cardea-outro .side-text{
      background-color: rgb(0, 181, 64);
      padding: 30px;
      margin-bottom: 20px;
      border-radius: 0px 0 30px 0px;
      display: flex;
      flex-flow: column;
      position: relative;
      bottom: 65px;
      height: fit-content;
  }
  .article-cardea-outro .side-text h2{
      color: white;
  }
  .article-cardea-outro .side-text h2:nth-child(2){
      align-self: flex-end;
  }
  .article-cardea-intro .slider-box .btn-left{
      border: 1px solid red;
      border-radius: 50%;
      position: relative;
      display: inline-block;
      top: 50px;

  }
  .article-cardea-intro .slider-box .btn-right{
      border: 1px solid red;
      border-radius: 50%;
      position: relative;
      display: inline-block;
      top: 50px;

  }
  .article-cardea-intro .slider-box .btn-left:hover{
      border: 1px solid  rgb(0, 181, 64);
      background: rgb(0, 181, 64);
  }
  .article-cardea-intro .slider-box .btn-right:hover{
      border: 1px solid  rgb(0, 181, 64);
      background: rgb(0, 181, 64);
      
  }
  .article-cardea-intro .slider-box .arrow{
      position: relative;
      bottom: 7px;
      padding: 5px;
      font-size: 30px;
      color: rgb(0, 181, 64);
      cursor: pointer;
      width: 30px;
      height: 30px;
      text-align: center;
  }
  .article-cardea-intro .slider-box .arrow:hover{
      color: white;
  }
  .article-cardea-outro .main-box img, .article-cardea-outro .main-box .a-flex-wrap img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .article-cardea-outro .main-box{
      /* height: fit-content; */
  }
  @media screen and (max-width:1024px){
      .article-cardea-intro .side-text h2:first-child {
        margin-left: 20%;
      }
      .article-cardea-outro .main-box div:nth-child(n){
          transform: translateY(0px);
          width: auto;
          padding-right: 20px;
      }
      .article-cardea-middle .img-box{
          display: flex;
          flex-flow: wrap;
          width: auto;
      }
      .article-cardea-middle .text-box{
          width: auto;
      }
      .article-cardea-middle .video-exp{
          width: auto;
      }
      .article-cardea-middle .video-box video{
          width: auto;
          padding: auto;
          margin: auto;
      }
      .article-cardea-intro .head-text{
          width: auto;
          color: white;
      }
      .article-cardea-intro .side-text{
          width: auto;
      }
      article .article-cardea-outro{
        height: 400px;
      }
      .article-cardea-middle .video-box{
          width: auto;
          margin: auto;
          padding: 20px;
      }
      .article-cardea-outro .side-text{
        width: 300px;
      }
      .article-cardea-outro .side-text h2{
        text-align: center;
        padding-right: 0;
        font-size: 1.2rem;
      }
  }

/* @index */
/* index banner slide */
.main-slider-box .slider-wrap{
  padding: 50px 0;
}
.main-slider-box .slick-slide{
  margin: 0;
  width: 200px;
  height: 100%;
}
.main-slider-box .slide{
  margin: 0;
  width: 200px;
  height: 100%;
}
/* .main-slider-box #slider-div div{
  border: 1px solid red; 
} */
.main-slider-box .slick-slide, .main-slider-box .slick-slide > div{
  background-color: #fff;
  height: fit-content;
  /* padding: 20px; */
  border-radius: 0px;
  }
  .main-slider-box .slick-center, .main-slider-box .slick-center > div{
  background-color: #fff;
  border-radius: 0px;
  }

/* @blog */
.article-blog{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.article-blog:nth-child(2){
  background: #93a0a03b;
}
.article-blog-art{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.article-blog .article-blog-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-blog .article-blog-header .logo{
  margin-top: 30px;
}
.article-blog .article-blog-header .article-blog-year{
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}
.article-blog .article-blog-header .article-blog-year a{
  background: white;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 0 20px;
  justify-content: center;
  border: 1px solid rgba(0.3, 0.3, 0.3, 0.3);
  font-weight: bold;
}
.article-blog .article-blog-header .article-blog-year a:hover{
  background: rgb(11, 6, 86);
  color: white;
  transition: .5s;
}
.article-blog-art .article-blog-artes{
  display: flex;
  flex-flow: column;
  background: #fff;
  margin: 3%;
  padding: 3%;
  flex-basis: 20%;
  border-radius: 30px;
  box-shadow: rgba(0.6, 0.7, 0.8, 0.1) 15px 15px 10px;
}
.article-blog h1{
  color: rgb(11, 6, 86);
  font-size: 2rem;
  margin: 3% 0 0 0;
}
.article-blog-art .article-blog-artes h4{
  color: rgb(0, 181, 64);
  margin-bottom: 20px;
}
.article-blog-art .article-blog-artes h2{
  color: rgb(11, 6, 86);
}
.article-blog-art .article-blog-artes h5{
  color: rgb(202, 204, 201);
  margin: 20px 0;
  margin-bottom: 40px;
}
.article-blog-art .article-blog-artes p{
  color: rgba(120, 136, 136, 0.678);
  margin-bottom: 30px;
}
.article-blog-art .article-blog-artes a{
  align-self: center;
  background: white;
  color: rgb(0, 181, 64);
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 30px;
  border: 0.1px solid rgba(0.3, 0.3, 0.1, 0.1);
  box-shadow: rgba(0.3, 0.3, 0.1, 0.1) 5px 5px 5px;
}
.article-blog .article-blog-Load{
  background: white;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: bold;
  box-shadow: rgba(0.6, 0.7, 0.8, 0.1) 5px 5px 15px;
  margin: 5%;
}
.article-blog .article-blog-Load a{
  color: rgba(120, 136, 136, 1);
}
.article-blog .article-blog-Load a:hover{
  color: rgb(0, 181, 64);
  transition: .5s;
}

/* @press release */
.article-press{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.article-press:nth-child(2){
  background: #93a0a03b;
}
.article-press-art{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.article-press .article-press-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-press .article-press-header .logo{
  margin-top: 30px;
}
.article-press .article-press-header .article-press-year{
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}
.article-press .article-press-header .article-press-year a{
  background: white;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 0 20px;
  justify-content: center;
  border: 1px solid rgba(0.3, 0.3, 0.3, 0.3);
  font-weight: bold;
}
.article-press .article-press-header .article-press-year a:hover{
  background: rgb(11, 6, 86);
  color: white;
  transition: .5s;
}
.article-press-art .article-press-artes{
  display: flex;
  flex-flow: column;
  background: #fff;
  margin: 3%;
  padding: 3%;
  flex-basis: 20%;
  border-radius: 30px;
  box-shadow: rgba(0.6, 0.7, 0.8, 0.1) 15px 15px 10px;
}
.article-press h1{
  color: rgb(11, 6, 86);
  font-size: 2rem;
  margin: 3% 0 0 0;
}
.article-press-art .article-press-artes h4{
  color: rgb(0, 181, 64);
  margin-bottom: 20px;
}
.article-press-art .article-press-artes h2{
  color: rgb(11, 6, 86);
}
.article-press-art .article-press-artes h5{
  color: rgb(202, 204, 201);
  margin: 20px 0;
  margin-bottom: 40px;
}
.article-press-art .article-press-artes p{
  color: rgba(120, 136, 136, 0.678);
  margin-bottom: 30px;
}
.article-press-art .article-press-artes a{
  align-self: center;
  background: white;
  color: rgb(0, 181, 64);
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 30px;
  border: 0.1px solid rgba(0.3, 0.3, 0.1, 0.1);
  box-shadow: rgba(0.3, 0.3, 0.1, 0.1) 5px 5px 5px;
}
.article-press .article-press-Load{
  background: white;
  border-radius: 20px;
  padding: 10px 30px;
  font-weight: bold;
  box-shadow: rgba(0.3, 0.3, 0.1, 0.1) 5px 5px 5px;
  margin: 5%;
}
.article-press .article-press-Load a{
  color: rgba(120, 136, 136, 1);
}
.article-press .article-press-Load a:hover{
  color: rgb(0, 181, 64);
  transition: .5s;
}

/* @Rightfit */
.article-rightfit{
  color: rgb(121, 137, 137);
}
.article-rightfit .text-cont ul{
  padding-left: 20px;
}
.article-rightfit .text-cont ul li{
  list-style-type: disc;
}
.article-rightfit-intro{
  display: flex;
  /* justify-content: flex-end; */
  flex-wrap: wrap;
  background-image: url(../src/32.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 50px;
}
/* .article-rightfit-intro .text-cont{
  flex-basis: 700px;
  padding: 7%;
  margin-left: 30%;
}
@media screen and (max-width:1024px){
  .article-rightfit-intro .text-cont {
    margin-left: 0;
  }
} */
.article-rightfit-intro .text-cont p{
  margin: 20px 0;
}
.article-rightfit-middle{
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 50px;
  z-index: 1;
}
.article-rightfit-middle .text-cont h1{
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
}
.article-rightfit-middle .text-cont h2{
  margin-bottom: 20px;
}
.article-rightfit-middle .text-cont p, .article-rightfit-middle .text-cont ul li{
  margin: 20px 0;
}
.article-rightfit-middle .text-cont{
  flex-basis: 1000px;
  background: linear-gradient(90deg, rgb(174, 220, 174) , rgb(184, 219,212));
  padding: 7%;
}
.article-rightfit-outro{
  background-image: url(../src/Right-fit-outro.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  filter: grayscale(60%) opacity(90%) saturate(80%);
}

/* @index design */
.main-slider-box .slick-prev {
  left: 5px;
  z-index: 1;
}
.main-slider-box .slick-next {
  right: 17px;
}
.main-slider-box .slick-next:before {
  content: url(http://www.idreamtech.co.kr/kor/images/main/btnNext.png);
  font-size: 2.5rem;
  color: #313131;

}
.main-slider-box .slick-prev:before {
  content: url(http://www.idreamtech.co.kr/kor/images/main/btnPrev.png);
  font-size: 2.5rem;
  color: #313131;
}
.main-slider-box .slick-slide, .main-slider-box .slick-slide > div {
  background-color: #fff;
  padding: 0;
  border-radius: 0px;
  height: 500px;
}
.main-slider-box .slider-wrap {
  background: white;
  /* padding: 5px; */
}

.main-slider-box .slide-1, .main-slider-box .slide-2, .main-slider-box .slide-3, .main-slider-box .slide-4{
  background: rgb(240, 240, 240);
  height: 500px;
}
/* slider common a tag */
.main-slider-box a{
  display: inline-block;
  margin-top: 50px;
  background-color: rgb(0, 181, 64);
  border-radius: 20px;
  padding: 2% 5%;
  color:  white;
  cursor: pointer;
  height: 20px;
}
/* slider comman h1 tag */
.main-slider-box h1{
  font-weight: lighter;
}
/* slide1 */
.main-slider-box .slide-1 .flex-wrap{
  display: flex;
  justify-content: flex-end;
  height: 500px;
  /* background-image: url(../src/main-banner1.jpg); */
  background: rgb(242, 242, 242);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  flex-flow: wrap-reverse;
}
.main-slider-box .slide-1 .flex-wrap div{
  padding: 15px;
  padding-right: 10%;
}
.main-slider-box .slide-1 .flex-wrap .flex-content-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
.main-slider-box .slide-1 .flex-wrap .flex-content-wrap2{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5%; */
  flex-basis:50%;
  /* width: 500px; */
  flex: 1 1 auto;
}

.main-slider-box .slide-1 h2{
  color: rgb(121, 137, 137);
}
.main-slider-box .slide-1 h3{
  color: rgb(64, 63, 69);
}
.main-slider-box .slide-1 h1{
  color: rgb(64, 63, 69);
}
/* slide1 */
.main-slider-box .slide-1 .flex-wrap{
  display: flex;
  justify-content: flex-start;
  height: 500px;
}
.main-slider-box .slide-1 .flex-wrap div{
  padding: 15px;
  flex-basis: 50%;
}
.main-slider-box .slide-1 .flex-wrap .flex-content-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}
.main-slider-box .slide-1 h2{
  color: rgb(121, 137, 137);
}
.main-slider-box .slide-1 h3{
  color: rgb(64, 63, 69);
}
.main-slider-box .slide-1 h1{
  color: rgb(64, 63, 69);
}
@media (max-width: 1024px){
  .main-slider-box .slide-1 .flex-wrap{
    flex-flow: wrap-wr;
  }
  .main-slider-box .slide-1 .flex-wrap .flex-content-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
  }
  .main-slider-box .slide-1 .flex-wrap .flex-content-wrap2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 5%; */
    flex-basis: 100%;
    /* width: 500px; */
    flex: 1 1 auto;
}
}
/* slide2 */
.main-slider-box .slide-2 .flex-wrap{
  display: flex;
  justify-content: flex-start;
  height: 500px;
  background-image: url(../src/24.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main-slider-box .slide-2 .flex-wrap div{
  padding: 15px;
  flex-basis: 50%;
}
.main-slider-box .slide-2 .flex-wrap .flex-content-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-slider-box .slide-2 h2{
  color: rgb(121, 137, 137);
}
.main-slider-box .slide-2 h3{
  color: rgb(64, 63, 69);
}
.main-slider-box .slide-2 h1{
  color: rgb(64, 63, 69);
}
/* slide3 */
.main-slider-box .slide-3 .flex-wrap{
  display: flex;
  justify-content: flex-end;
  height: 500px;
  background-image: url(../src/35.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
}
@media (max-width:1024px){
  .main-slider-box .slide-3 .flex-wrap{
    background-size: 100% 100%;
  }
}
.main-slider-box .slide-3 .flex-wrap div{
  padding: 15px;
  flex-basis: 60%;
}
.main-slider-box .slide-3 .flex-wrap .flex-content-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-slider-box .slide-3 h2{
  color: rgb(121, 137, 137);
  font-weight: lighter;
}
.main-slider-box .slide-3 h3{
  color: rgb(64, 63, 69);
}
.main-slider-box .slide-3 h1{
  color: rgb(64, 63, 69);
  font-size: xxx-large;
}
/* slide4 */
.main-slider-box .slide-4 .flex-wrap{
  display: flex;
  justify-content: flex-start;
  height: 500px;
  background-image: url(../src/25.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.main-slider-box .slide-4 .flex-wrap div{
  padding: 15px;
  flex-basis: 50%;
}
.main-slider-box .slide-4 .flex-wrap .flex-content-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}
.main-slider-box .slide-4 h2{
  color: rgb(121, 137, 137);
}
.main-slider-box .slide-4 h3{
  color: rgb(64, 63, 69);
}
.main-slider-box .slide-4 h1{
  color: rgb(64, 63, 69);
}
@media screen and (max-width: 1024px){
  .main-slider-box .slide-1 .flex-wrap div{
  padding: 15px;
  flex-basis: 100%;
}
.main-slider-box .slide-2 .flex-wrap div{
  padding: 15px;
  flex-basis: 100%;
}
.main-slider-box .slide-3 .flex-wrap div{
  padding: 15px;
  flex-basis: 100%;
}
.main-slider-box .slide-4 .flex-wrap div{
  padding: 15px;
  flex-basis: 100%;
}
}
/* mainfooter */
.main-footer{
  display: flex;
  flex-flow: wrap;
  padding: 3%;
  background: rgb(11, 6, 86);
}
.main-footer .main-footer-content{
  color: white;
}
.main-footer .main-footer-content div{
  margin-top: 20px;
}
.main-footer .main-footer-sitemap{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-grow: 1;
  flex-basis: 600px;
  color: white;
  margin-top: 20px;
  flex-wrap: wrap;
}
.main-footer .main-footer-sitemap a{
  color: white;
}
.main-footer .main-footer-sitemap .external-site{
  display: flex;
  justify-content: space-around;
}
.main-footer .main-footer-sitemap .external-site a{
  padding: 0 10px;
}
.article-rightfit-middle .text-cont .a-flex-wrap{
  display: flex;
  justify-content: flex-end;
}
.article-rightfit-middle .text-cont a{
  /* display: inline-block;
  color: rgb(11, 6, 86);
  border-radius: 20px;
  background: white;
  padding: 1%;
  margin-top: 10px; */
  border-radius: 20px;
  border: 1px solid rgb(11, 6, 86);
  background: white;
  color: rgb(11, 6, 86);
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: rgba(0.5, 0.5, 0.5, 0.2) 5px 5px 10px;
}
.main-box{
  bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0 5% 5% 0;
}
.main-box a{
  border-radius: 20px;
  border: 1px solid rgb(11, 6, 86);
  background: white;
  color: rgb(11, 6, 86);
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: rgba(0.5, 0.5, 0.5, 0.2) 5px 5px 10px;
}
#slider-div2 h2{
  margin: 20px 0;
}

/*  */
.article-jobop-intro{
  background-color: rgb(11, 6, 86);
  min-height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.article-jobop-intro h1{
  font-size: 2rem;
  margin: 1%;

  
}
.article-jobop-middle{
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
}
.article-jobop-middle .position-cont{
  border-radius: 20px;
  box-shadow: 8px 8px 20px #888888;
  flex: 1 auto;
  width: 20%;
  margin: 40px 20px;
  padding: 2.5%;
}
.article-jobop-middle .position-cont h2{
  color: rgb(11, 6, 86);
}
.article-jobop-middle .position-cont h4{
  color: rgb(121, 137, 137);
  margin: 20px 0;
}
.article-jobop-middle .position-cont a{
  margin-top: 40px;
  display: inline-block;
  background: rgb(0, 181, 64);
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
}
@media (max-width: 1024px){
.article-jobop-middle .position-cont{
width: 33%;
/* flex-basis: 50%; */
/* flex-basis: auto; */
flex: 1 auto;
}
}
@media (max-width: 800px){
.article-jobop-middle .position-cont{
width: 100%;
/* flex-basis: 50%; */
/* flex-basis: auto; */
flex: 1 auto;
}
.article-blog-art .article-blog-artes, .article-press-art .article-press-artes{
  flex-basis: auto;
}
}
.article-jobop-outro{
  display: flex;
  justify-content: center;
  margin: 5% 0;
}
.article-jobop-outro a{
  border: 1px solid rgb(11, 7, 83);
  border-radius: 30px;
  color: rgb(11, 7, 83);
  padding: 10px 50px;
  font-weight: bold;
}
/* customer */

.article-jobop-sub1{
  background: rgb(235, 235, 245);
  padding: 7%;
}
.article-jobop-sub1 .flex-wrap{

  background: white;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  box-shadow: rgba(1, 1, 1, 0.3) 1px 1px 20px;
}
.article-jobop-sub1 .flex-wrap .sub1-cont{
  width: 100%;
  padding-right: 30%;
}
.article-jobop-sub1 .flex-wrap a{
  padding: 10px 80px;
  background: rgb(11, 6, 86);
  border-radius: 30px;
  color: white;
  margin: 30px;
  font-size: 1.3rem;
}
.article-jobop-intro .jobop-title{
  background: white;
  border: 1px solid rgb(11, 6, 86);
  border-radius: 50px;
  color: rgb(11, 6, 86);
  font-weight: normal;
  box-shadow: rgba(1, 1, 1, 0.3) 1px 1px 20px;
  position: absolute;
  top: 360px;
  padding: 20px 40px;
  font-size: 1.5rem;
}
.article-jobop-intro h4{
  font-weight: normal;
}
.sub1-cont h2, .sub1-cont p{
  margin: 30px 0;
}
.sub1-cont h2, .sub1-cont ul li::marker{
  color: rgb(11, 6, 86);
}
.sub1-cont ul li{
  list-style-type: disc;
  margin-left: 20px;
  margin: 10px 20px;
  
}
@media (max-width: 1024px){
  .article-jobop-sub1 .flex-wrap .sub1-cont{
      padding: 0;
  }
  .article-jobop-sub1 .flex-wrap{
      padding: 20px;
  }
}

/* @Customer apply */
.article-jobop-sub2{
    background: rgb(235, 235, 245);
    padding: 7%;
  }
  .article-jobop-sub2 .flex-wrap{
    background: white;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    box-shadow: rgba(1, 1, 1, 0.3) 1px 1px 20px;
  }
  .article-jobop-sub2 .flex-wrap .sub2-cont{
    width: 100%;
    padding-right: 10%;
  }
  .article-jobop-sub2 .flex-wrap .button-flex-wrap{
      display: flex;
      justify-content: flex-end;
  }
  .article-jobop-sub2 .flex-wrap button{
      padding: 10px 20px;
      background: rgb(11, 6, 86);
      border-radius: 30px;
      color: white;
      margin: 30px;
      font-size: 1.3rem;
      cursor: pointer;
  }
  .sub2-cont h2, .sub2-cont p{
  margin: 30px 0;
  }
  .sub2-cont h2, .sub2-cont ul li::marker{
  color: rgb(11, 6, 86);
  }
  .sub2-cont ul li{
  list-style-type: disc;
  margin-left: 20px;
  margin: 10px 20px;
  
  }
  @media (max-width: 1024px){
  .article-jobop-sub2 .flex-wrap .sub2-cont{
      padding: 0;
  }
  .article-jobop-sub2 .flex-wrap{
      padding: 20px;
  }
  }
  .sub2-cont .cont-intro{
      display: flex;
      justify-content: space-between;
  }
  .sub2-cont .cont-intro label{
      color: rgb(119, 137, 137);
  }
  .sub2-cont .cont-intro h1{
      font-size: 2rem;
      color: rgb(11, 6, 86);
      margin-bottom: 70px;
  }
  .red{
      color: red;
      font-weight: bold;
      font-size: 1.2rem;
      font-weight: lighter;
  }
  .sub2-cont .cont-flex{
      display: flex;
      height: 50px;
      color: rgb(119, 137, 137);
      margin: 40px 0;
      font-size: 1.1rem;
  }
  .sub2-cont .cont-flex label{
      flex-basis: 250px;
      justify-content: flex-end;
      display: flex;
      margin-right: 30px;
  }
  .sub2-cont .cont-flex input{
      flex: 1 0 auto;
  }
  .sub2-cont .cont-flex2{
      display: flex;
      color: rgb(119, 137, 137);
      justify-content: flex-end;
      flex-flow: wrap;
      margin: 30px 0;
      font-size: 1.1rem;
  }
  .sub2-cont .cont-flex2 label{
      
      justify-content: flex-end;
      display: flex;
      margin: 10px 30px 10px 10%;
  }
  .sub2-cont .cont-flex2 .labelmargin{
      flex:1 0 auto;
  }
  .sub2-cont .cont-flex2 input{
      width: 100%;
      margin-left: 10%;
      height: 50px;
  }
  hr{
      margin: 50px 0;
  }
  a{
    font-weight: normal;
  }