/*GLOBALS*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider-wrap {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

#slider-wrap ul#slider {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#slider-wrap ul#slider li {
  float: left;
  position: relative;
  width: 600px;
  height: 400px;
}

#slider-wrap ul#slider li>div {
  position: absolute;
  top: 20px;
  left: 35px;
}

#slider-wrap ul#slider li>div h3 {
  font-size: 36px;
  text-transform: uppercase;
}

#slider-wrap ul#slider li>div span {
  font-size: 21px;
}

#slider-wrap ul#slider li img {
  display: block;
  width: 100%;
  height: 100%;
}

/*btns*/
.slider-btns {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 50%;
  margin-top: -25px;
  line-height: 57px;
  text-align: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.slider-btns:hover {
  background: rgba(0, 0, 0, 0.3);
}

#next {
  right: -50px;
  border-radius: 7px 0px 0px 7px;
  color: #eee;
}

#previous {
  left: -50px;
  border-radius: 0px 7px 7px 7px;
  color: #eee;
}

#slider-wrap.active #next {
  right: 0px;
}

#slider-wrap.active #previous {
  left: 0px;
}

/*bar*/
#slider-pagination-wrap {
  min-width: 20px;
  margin-top: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  position: relative;
  text-align: center;
}

#slider-pagination-wrap ul {
  width: 100%;
}

#slider-pagination-wrap ul li {
  margin: 0 4px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.5;
  position: relative;
  top: 0;
}

#slider-pagination-wrap ul li.active {
  width: 12px;
  height: 12px;
  top: 3px;
  opacity: 1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
  -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
  transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}

/* felxbox */
#wrapper{
  display: flex;
  flex-flow: row wrap;
}
body{
  width: 90%;
  margin: 10px auto;
}
a{
  text-decoration: none;
  color: gray;
}
header {
  height: 100px;
  color: black;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#main-banner{
  width: 100%;
}
footer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(54, 199, 41);
  color: white;
  height: 200px;
  font-size: 1.3rem;
  text-align: center;
}

#main-menu{
  display: flex;
};

#site-map{
  align-self: flex-start;
}
#main-menu,
#sub-menu{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#main-menu > li{
  float: left;
  background: white;
}
#main-menu > li > a{
  font-size: 1.3rem;
  font-weight: bold;
  color:rgba(0, 0, 0, 0.7);
  text-decoration: none;
  letter-spacing: 0.05em;
  display: block;
  padding: 12px 36px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.sub-menu{
  position:absolute;
  background:white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
  display: flex;
}
.sub-menu > li > a{
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  
}
#main-menu > li:hover
.sub-menu{
  opacity: 1;
  visibility: visible;
  position: absolute;
  z-index: 101;
  display: flex;
}
.sub-menu > .sub-menues > li > a:hover{
  color:  rgb(54, 199, 41);
  transition: 1s;
}
.sub-text{
  background-image: url("http://placehold.it/300x200");
  border-radius: 0px 0px 0px 20px;
  padding: 20px;
  color: white;
  font-size: 1.5rem;
}
.sub-menues{
  padding: 20px;
  background-color: white;
}
.sub-menues > li{
  padding-top: 7px;
  font-size: 1.1rem;
  font-weight: bold;
}
.sub-menu{
  border-radius: 0px 0px 0px 20px;
  box-shadow: 1px 1px 10px 3px gray;
}
#site-map span{
  color: gray;
  padding: 0 7px;
  float: right;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}
#site-map a{
  text-decoration: none;
  color: gray;
}

/*responsive menu bar*/
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}

.content{
    padding: 0 20px;
}
.content img{
    width:  100%;
    max-width: 700px;
    margin: 20px 0;
}

@media screen and (max-width:1024px){
  .show-menu-btn, .hide-menu-btn{
      display: block;
  }
  #main-menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(30, 150, 30);
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
      z-index: 102;
  }
  #main-menu a{
      display: block;
      padding: 20px;
  }
  .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
  }
  #chk:checked ~ #main-menu{
      right: 0;
  }
  header{
      height: 100px;
      color: black;
      background: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }
  #main-menu{
    display: flex;
    flex-flow: column;
  }
  .sub-text{
    visibility: hidden;
    width: 0;
    padding: 0;
  }
  footer{
    font-size: 1rem;
  }
}

/*Solution.html*/
section{
  width: 100%;
}
#intro{
  display: flex;
  flex-flow: row wrap;
  background-image: url("http://placehold.it/150x100");
  background-size: 100% 400px;
  background-repeat: no-repeat;
}
#intro .intro-text1{
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin: 40px 100px;
}
#intro .intro-text1-wrap{
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}
#intro .intro-text2-wrap{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
#intro .intro-text2{
  background-color:  rgb(54, 199, 41);
  padding: 10px;
  width: 50%;
  height: 100px;
  border-radius: 0px 0px 0px 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-style: italic;
}
#intro .intro-text3{
  width: 100%;
  display: flex;
  justify-content: center;
}
#intro .intro-text3-wrap{
  background-color: #fff;
  box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.4);
  padding: 80px;
}
#intro .intro-text3-wrap div:first-child{
  color: rgb(54, 199, 41);
  font-size: 1.4rem;
}
#intro .intro-text3-wrap div:nth-child(2){
  color:  rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
}


